flows_raspberrypi.json
[{"id":"7f275101.9dd22","type":"tab","label":"Track Flow 1","disabled":false,"info":""},{"id":"7d6ec99d.a6a8b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#37abd2","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#37abd2","edited":true},"page-titlebar-backgroundColor":{"value":"#37abd2","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#75c5e0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#37abd2","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"TCS Track Control System","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":1,"gy":1,"cx":2,"cy":2,"px":0,"py":0}}},{"id":"852847c.013d0b8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"ba9e7cc8.4ef12","order":5,"width":1,"height":1},{"id":"c0501125.a41d","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"da71df26.838f6","type":"ui_group","name":"Point 7","tab":"c0501125.a41d","order":2,"disp":true,"width":18,"collapse":false,"className":""},{"id":"5e172ab9.6b0c84","type":"ui_group","name":"Point 8","tab":"c0501125.a41d","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"9993820d.5fb76","type":"ui_group","name":"Points 1 - 6","tab":"c0501125.a41d","order":3,"disp":true,"width":30,"collapse":false,"className":""},{"id":"ba276ba7.1504d8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"5e172ab9.6b0c84","order":9,"width":3,"height":1},{"id":"47dfbfbb.b080a","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"5e172ab9.6b0c84","order":22,"width":10,"height":1},{"id":"466a4777.df70b8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"5e172ab9.6b0c84","order":25,"width":10,"height":1},{"id":"79e02cf1.31c9b4","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"da71df26.838f6","order":1,"width":18,"height":1},{"id":"ff3c5f81.6d1b5","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"da71df26.838f6","order":19,"width":3,"height":1},{"id":"f905ccff.baf3e","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"da71df26.838f6","order":33,"width":16,"height":1},{"id":"ec3629d4.333ce8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":3,"width":7,"height":1},{"id":"cdf48db1.c0cfe","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":11,"width":7,"height":1},{"id":"8f90135d.15bfc","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":15,"width":1,"height":1},{"id":"f20d0760.e16428","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":20,"width":7,"height":1},{"id":"1b0b66ce.118c99","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":23,"width":1,"height":1},{"id":"58bc4764.1be848","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":25,"width":4,"height":1},{"id":"5e9f8e3a.f27d2","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":30,"width":1,"height":1},{"id":"2fa97053.e5caa","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":35,"width":7,"height":1},{"id":"1ba222d6.0e262d","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":37,"width":5,"height":1},{"id":"e5a473a3.78d1d","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":40,"width":6,"height":1},{"id":"e662ec30.e322","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":45,"width":7,"height":1},{"id":"6110a8c6.4b5c68","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":47,"width":8,"height":1},{"id":"5d62f3b4.c486cc","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":50,"width":7,"height":1},{"id":"9d1fdd46.96c31","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":55,"width":7,"height":1},{"id":"c7f222e3.cc845","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":57,"width":6,"height":1},{"id":"7373e453.c8f97c","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":71,"width":7,"height":1},{"id":"d7fc56c7.2397f8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":74,"width":2,"height":1},{"id":"ff06f57.ef2ef08","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":77,"width":7,"height":1},{"id":"907ab891.5d5f48","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":79,"width":2,"height":1},{"id":"b72f6451.94c978","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":100,"width":4,"height":1},{"id":"a9d5631d.57835","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":121,"width":5,"height":1},{"id":"5309329c.936bcc","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":123,"width":1,"height":1},{"id":"46b36379.97eb9c","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":124,"width":27,"height":1},{"id":"c0c7c9ab.3a5d38","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":126,"width":2,"height":1},{"id":"7c283bf5.3d7c14","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":127,"width":20,"height":1},{"id":"9ff42646.9720b8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":129,"width":5,"height":1},{"id":"fc952e3e.95ef5","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":131,"width":3,"height":1},{"id":"823d69c3.3662f8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":132,"width":21,"height":1},{"id":"8dd1e5e7.6568e8","type":"ui_spacer","z":"7f275101.9dd22","name":"spacer","group":"9993820d.5fb76","order":138,"width":4,"height":1},{"id":"71143251.cec954","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1160,"wires":[["97232908.eebf78"]]},{"id":"a1158aca.f9b0b","type":"inject","z":"7f275101.9dd22","name":"2 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"false","payloadType":"bool","x":160,"y":1160,"wires":[["71143251.cec954"]]},{"id":"1ff11c2c.b1d37c","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":540,"y":100,"wires":[]},{"id":"68a46d0f.1f6c54","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1280,"wires":[["3833393d.bcd236"]]},{"id":"e315a289.93a9c","type":"inject","z":"7f275101.9dd22","name":"2 - Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.02","topic":"","payload":"false","payloadType":"bool","x":150,"y":1280,"wires":[["68a46d0f.1f6c54"]]},{"id":"861e301b.d956c","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":520,"y":340,"wires":[]},{"id":"7f787e0e.4b65d","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0200);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":860,"wires":[["919d7d19.0bd7a"]]},{"id":"8856ece.92ed61","type":"inject","z":"7f275101.9dd22","name":"1 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"false","payloadType":"bool","x":160,"y":860,"wires":[["7f787e0e.4b65d","4aa477e9.a9a378","557db02c.cdc9b","d58bc1b9.f1af8"]]},{"id":"bb7fdf99.4a696","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":540,"y":660,"wires":[]},{"id":"808bf78.dca7208","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0200);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":980,"wires":[["1410a162.76893f"]]},{"id":"aad65833.97ec68","type":"inject","z":"7f275101.9dd22","name":"1 -Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.04","topic":"","payload":"false","payloadType":"bool","x":150,"y":980,"wires":[["808bf78.dca7208"]]},{"id":"4227cbc2.b0d3b4","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"19","set":"","level":"0","freq":"","out":"out","x":540,"y":400,"wires":[]},{"id":"6a5e41c1.675ce","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0200);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["4227cbc2.b0d3b4"]]},{"id":"778d88ba.345d08","type":"inject","z":"7f275101.9dd22","name":"7 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"false","payloadType":"bool","x":160,"y":480,"wires":[["6a5e41c1.675ce","bb847072.691bd","e77c452c.21d908"]]},{"id":"919d7d19.0bd7a","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"32","set":"","level":"0","freq":"","out":"out","x":580,"y":800,"wires":[]},{"id":"3df245b8.87942a","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0200);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":600,"wires":[["bb7fdf99.4a696"]]},{"id":"9927fa6a.f801f8","type":"inject","z":"7f275101.9dd22","name":"7 - Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"false","payloadType":"bool","x":150,"y":600,"wires":[["3df245b8.87942a"]]},{"id":"1410a162.76893f","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"36","set":"","level":"0","freq":"","out":"out","x":540,"y":1040,"wires":[]},{"id":"e57cf4d0.b25588","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[["1ff11c2c.b1d37c"]]},{"id":"3361d984.e88796","type":"inject","z":"7f275101.9dd22","name":"8 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"false","payloadType":"bool","x":160,"y":160,"wires":[["e57cf4d0.b25588","7a498c88.51ab24","26ab803a.4e87d","29fc176a.271928"]]},{"id":"446f7525.9ff76c","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"23","set":"","level":"0","freq":"","out":"out","x":540,"y":2060,"wires":[]},{"id":"8fc033f2.0d895","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":280,"wires":[["861e301b.d956c"]]},{"id":"9dbc3aac.8876d8","type":"inject","z":"7f275101.9dd22","name":"8 -Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"false","payloadType":"bool","x":150,"y":280,"wires":[["8fc033f2.0d895"]]},{"id":"a558ab6e.a3fda8","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"21","set":"","level":"0","freq":"","out":"out","x":540,"y":2340,"wires":[]},{"id":"3003fdd4.5f7d42","type":"ui_button","z":"7f275101.9dd22","name":"","group":"da71df26.838f6","order":5,"width":2,"height":2,"passthru":false,"label":"<h1>7 ></h1>","tooltip":"","color":"black","bgcolor":"aqua","className":"","icon":"","payload":"true","payloadType":"bool","topic":"POINT7","topicType":"str","x":140,"y":540,"wires":[["ff3bcd24.8e311"]]},{"id":"d543bd52.f7286","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":540,"wires":[["ead652c4.47199","379788af.6a2d08","7e2c72c4.55d9ac","4968dfc3.b3dcf","a87447b3.7c77d8","1eeb285c.aa40e8","12d566e.1c5ba99","3f403da6.9fb842","3222f1bb.b935be","9373f6f6.3c8378","8077802f.2d7a7","24e59270.9ef48e","35e0ddbc.a13762","b88eebe4.9ee3b8","104ae5bb.13851a","5ed8d24.583a52c","321c740f.e26d7c","99adcd5d.1eb13","30db5537.a497da","3c87872c.a61058","d9c259ab.6358c8","ca27e45e.fa68a8","176f8009.fcf8f","5c13fb03.5bcfe4","1f144ca9.b10fc3","acf6f7e0.35cce8","8ad9c483.4e3fa8","f9385407.80e198","6a5e41c1.675ce"],["ead652c4.47199","379788af.6a2d08","7e2c72c4.55d9ac","4968dfc3.b3dcf","a87447b3.7c77d8","1eeb285c.aa40e8","12d566e.1c5ba99","3f403da6.9fb842","3222f1bb.b935be","9373f6f6.3c8378","8077802f.2d7a7","24e59270.9ef48e","35e0ddbc.a13762","b88eebe4.9ee3b8","104ae5bb.13851a","5ed8d24.583a52c","321c740f.e26d7c","99adcd5d.1eb13","30db5537.a497da","3c87872c.a61058","d9c259ab.6358c8","ca27e45e.fa68a8","176f8009.fcf8f","5c13fb03.5bcfe4","1f144ca9.b10fc3","acf6f7e0.35cce8","8ad9c483.4e3fa8","f9385407.80e198","3df245b8.87942a"]]},{"id":"f344291b.daffe8","type":"ui_button","z":"7f275101.9dd22","name":"","group":"5e172ab9.6b0c84","order":8,"width":2,"height":2,"passthru":false,"label":"<h1>< 8</h1>","tooltip":"","color":"black","bgcolor":"orange","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[["73e576a4.6c2738"]]},{"id":"7a685770.dd7498","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["e2c07f44.30637","29eba2c3.1a9b1e","e8c83841.a25b98","af3ab422.f7c4e8","673779a1.d4eeb8","848ae083.fe518","439f3ba0.66cae4","6e586553.2d633c","dd6d62dd.e9fab","b52a9c95.9c868","9a464c4.bdb89b","87fe9877.587e28","56f882fa.ed116c","6931f18d.149b4","db7b1232.42d4","85f564d6.59d0b8","e57cf4d0.b25588","1a726309.8daffd","dd50bb9e.3a5d08"],["29eba2c3.1a9b1e","e2c07f44.30637","e8c83841.a25b98","af3ab422.f7c4e8","673779a1.d4eeb8","848ae083.fe518","439f3ba0.66cae4","6e586553.2d633c","dd6d62dd.e9fab","b52a9c95.9c868","9a464c4.bdb89b","87fe9877.587e28","56f882fa.ed116c","6931f18d.149b4","db7b1232.42d4","85f564d6.59d0b8","8fc033f2.0d895","1a726309.8daffd","dd50bb9e.3a5d08"]]},{"id":"29eba2c3.1a9b1e","type":"ui_led","z":"7f275101.9dd22","order":7,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":300,"wires":[]},{"id":"e2c07f44.30637","type":"ui_led","z":"7f275101.9dd22","order":6,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":280,"wires":[]},{"id":"673779a1.d4eeb8","type":"ui_led","z":"7f275101.9dd22","order":4,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":340,"wires":[]},{"id":"af3ab422.f7c4e8","type":"ui_led","z":"7f275101.9dd22","order":5,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":320,"wires":[]},{"id":"e8c83841.a25b98","type":"ui_led","z":"7f275101.9dd22","order":3,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":280,"wires":[]},{"id":"848ae083.fe518","type":"ui_led","z":"7f275101.9dd22","order":2,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":360,"wires":[]},{"id":"439f3ba0.66cae4","type":"ui_led","z":"7f275101.9dd22","order":1,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":300,"wires":[]},{"id":"6e586553.2d633c","type":"ui_led","z":"7f275101.9dd22","order":10,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":320,"wires":[]},{"id":"dd6d62dd.e9fab","type":"ui_led","z":"7f275101.9dd22","order":16,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":200,"wires":[]},{"id":"b52a9c95.9c868","type":"ui_led","z":"7f275101.9dd22","order":15,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":180,"wires":[]},{"id":"9a464c4.bdb89b","type":"ui_led","z":"7f275101.9dd22","order":13,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":160,"wires":[]},{"id":"87fe9877.587e28","type":"ui_led","z":"7f275101.9dd22","order":14,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":140,"wires":[]},{"id":"7a498c88.51ab24","type":"ui_led","z":"7f275101.9dd22","order":18,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":190,"y":100,"wires":[]},{"id":"26ab803a.4e87d","type":"ui_led","z":"7f275101.9dd22","order":19,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":170,"y":80,"wires":[]},{"id":"bb847072.691bd","type":"ui_led","z":"7f275101.9dd22","order":3,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":110,"y":380,"wires":[]},{"id":"ead652c4.47199","type":"ui_led","z":"7f275101.9dd22","order":7,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":500,"wires":[]},{"id":"379788af.6a2d08","type":"ui_led","z":"7f275101.9dd22","order":6,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":560,"wires":[]},{"id":"7e2c72c4.55d9ac","type":"ui_led","z":"7f275101.9dd22","order":8,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":540,"wires":[]},{"id":"4968dfc3.b3dcf","type":"ui_led","z":"7f275101.9dd22","order":9,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":500,"wires":[]},{"id":"a87447b3.7c77d8","type":"ui_led","z":"7f275101.9dd22","order":10,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":540,"wires":[]},{"id":"1eeb285c.aa40e8","type":"ui_led","z":"7f275101.9dd22","order":11,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":480,"wires":[]},{"id":"12d566e.1c5ba99","type":"ui_led","z":"7f275101.9dd22","order":14,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":560,"wires":[]},{"id":"3f403da6.9fb842","type":"ui_led","z":"7f275101.9dd22","order":12,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":480,"wires":[]},{"id":"3222f1bb.b935be","type":"ui_led","z":"7f275101.9dd22","order":13,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":480,"wires":[]},{"id":"9373f6f6.3c8378","type":"ui_led","z":"7f275101.9dd22","order":16,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":520,"wires":[]},{"id":"8077802f.2d7a7","type":"ui_led","z":"7f275101.9dd22","order":17,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":500,"wires":[]},{"id":"24e59270.9ef48e","type":"ui_led","z":"7f275101.9dd22","order":15,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":540,"wires":[]},{"id":"35e0ddbc.a13762","type":"ui_led","z":"7f275101.9dd22","order":32,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":520,"wires":[]},{"id":"ea7b1e30.491ac","type":"ui_led","z":"7f275101.9dd22","order":2,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":130,"y":2680,"wires":[],"inputLabels":["A"]},{"id":"8fce9bac.1d25d8","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":920,"wires":[["7a2cd74f.e59568","9a70377b.375928","9c9b8b5.7763a78","2ed178f2.a29e08","7d587f3b.57c64","2b619b0e.c09324","459473ae.01518c","148aa46e.8391ec","5d6b6daa.cb0d04","cb07a356.a11eb","b84348ad.b8a588","9290161e.cd6128","17673a7c.517bc6","9492e623.367e88","75a699ed.306238","92a202e7.99795","25fce8e7.ef1988","d7658a60.eb6008","607691e3.ecf06","63beae8b.97d97","46b5e007.9ddec","bc8360e5.07e94","d0b966b6.458b88","537e167f.34cde8","be6e387b.93a448","d6d01877.a9b188","d9d78762.f94e78","dcb413a7.8a61f","75671ce0.93ae24","15ee61ce.513b6e","5c3f401.91852c","7f787e0e.4b65d"],["7a2cd74f.e59568","9a70377b.375928","9c9b8b5.7763a78","2ed178f2.a29e08","7d587f3b.57c64","2b619b0e.c09324","459473ae.01518c","148aa46e.8391ec","5d6b6daa.cb0d04","25fce8e7.ef1988","cb07a356.a11eb","b84348ad.b8a588","9290161e.cd6128","17673a7c.517bc6","9492e623.367e88","75a699ed.306238","92a202e7.99795","d7658a60.eb6008","46b5e007.9ddec","607691e3.ecf06","63beae8b.97d97","bc8360e5.07e94","d0b966b6.458b88","537e167f.34cde8","be6e387b.93a448","d6d01877.a9b188","d9d78762.f94e78","dcb413a7.8a61f","75671ce0.93ae24","15ee61ce.513b6e","5c3f401.91852c","808bf78.dca7208"]]},{"id":"bf5e1173.ef7bc","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":73,"width":2,"height":2,"passthru":false,"label":"<h1>< 1</h1>","tooltip":"","color":"black","bgcolor":"lightblue","className":"","icon":"","payload":"true","payloadType":"bool","topic":"POINT1","topicType":"str","x":140,"y":920,"wires":[["d701ebf4.d68c68"]]},{"id":"17a57ec7.5ebf61","type":"ui_led","z":"7f275101.9dd22","order":54,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":150,"y":2700,"wires":[]},{"id":"7c758670.911c68","type":"ui_led","z":"7f275101.9dd22","order":19,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":170,"y":2720,"wires":[]},{"id":"c8ca9746.6be968","type":"ui_led","z":"7f275101.9dd22","order":34,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":190,"y":2740,"wires":[]},{"id":"c894be9b.3f3a3","type":"ui_led","z":"7f275101.9dd22","order":70,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":310,"y":2760,"wires":[]},{"id":"13124bc1.5535f4","type":"ui_led","z":"7f275101.9dd22","order":44,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":330,"y":2780,"wires":[]},{"id":"7a2cd74f.e59568","type":"ui_led","z":"7f275101.9dd22","order":89,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1000,"wires":[]},{"id":"2b619b0e.c09324","type":"ui_led","z":"7f275101.9dd22","order":46,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":860,"wires":[]},{"id":"7d587f3b.57c64","type":"ui_led","z":"7f275101.9dd22","order":36,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":860,"wires":[]},{"id":"2ed178f2.a29e08","type":"ui_led","z":"7f275101.9dd22","order":72,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":840,"wires":[]},{"id":"9c9b8b5.7763a78","type":"ui_led","z":"7f275101.9dd22","order":56,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":840,"wires":[]},{"id":"9a70377b.375928","type":"ui_led","z":"7f275101.9dd22","order":88,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":980,"wires":[]},{"id":"4aa477e9.a9a378","type":"ui_led","z":"7f275101.9dd22","order":90,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":130,"y":780,"wires":[]},{"id":"a10e0eb8.7e8ea","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":75,"width":2,"height":2,"passthru":false,"label":"<h1>2 ></h1>","tooltip":"","color":"black","bgcolor":"lightgreen","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1220,"wires":[["dfa9a584.82e4e8"]]},{"id":"52535560.14664c","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1220,"wires":[["446293d5.196e9c","aae5ce73.d56e9","b033114d.a75a3","f3a663c1.d2144","3bef3ae4.e1c046","71143251.cec954"],["446293d5.196e9c","aae5ce73.d56e9","b033114d.a75a3","f3a663c1.d2144","3bef3ae4.e1c046","68a46d0f.1f6c54"]]},{"id":"446293d5.196e9c","type":"ui_led","z":"7f275101.9dd22","order":76,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1180,"wires":[]},{"id":"10b621cd.6160fe","type":"ui_led","z":"7f275101.9dd22","order":82,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":350,"y":2800,"wires":[]},{"id":"459473ae.01518c","type":"ui_led","z":"7f275101.9dd22","order":21,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":880,"wires":[]},{"id":"a6fb76a0.f18a48","type":"inject","z":"7f275101.9dd22","name":"3 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":160,"y":1500,"wires":[["1bbb7043.75c27"]]},{"id":"1bbb7043.75c27","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1500,"wires":[["817f4af9.274948"]]},{"id":"8a76455f.e6df28","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":48,"width":2,"height":2,"passthru":false,"label":"<h1>3 ></h1>","tooltip":"","color":"black","bgcolor":"yellow","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1560,"wires":[["eb4d0d0f.6c301"]]},{"id":"e56d8ad8.42bd88","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1560,"wires":[["85e0fa8f.f8d9f8","114fdec1.bb9a41","3c9d2908.1ca756","1f76c8c2.dbdab7","7a548e35.6f543","e3fcf871.a3c168","1fe8924.658126e","65e77639.117f28","1bbb7043.75c27"],["85e0fa8f.f8d9f8","114fdec1.bb9a41","3c9d2908.1ca756","1f76c8c2.dbdab7","7a548e35.6f543","e3fcf871.a3c168","1fe8924.658126e","65e77639.117f28","890ec142.035a1"]]},{"id":"13495113.f6dbff","type":"inject","z":"7f275101.9dd22","name":"3 - Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":1620,"wires":[["890ec142.035a1"]]},{"id":"890ec142.035a1","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1620,"wires":[["99930219.1507e"]]},{"id":"85e0fa8f.f8d9f8","type":"ui_led","z":"7f275101.9dd22","order":49,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1460,"wires":[]},{"id":"114fdec1.bb9a41","type":"ui_led","z":"7f275101.9dd22","order":60,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1600,"wires":[]},{"id":"aae5ce73.d56e9","type":"ui_led","z":"7f275101.9dd22","order":92,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1260,"wires":[]},{"id":"b033114d.a75a3","type":"ui_led","z":"7f275101.9dd22","order":93,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1280,"wires":[]},{"id":"2c8caef1.3ccf52","type":"ui_led","z":"7f275101.9dd22","order":95,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1800,"wires":[]},{"id":"f3a663c1.d2144","type":"ui_led","z":"7f275101.9dd22","order":58,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1160,"wires":[]},{"id":"a8be3b69.ab6638","type":"inject","z":"7f275101.9dd22","name":"4 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":160,"y":1800,"wires":[["d7622876.7c2618"]]},{"id":"d7622876.7c2618","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1800,"wires":[["9bc7f88d.e5de28"]]},{"id":"560e53e4.580b8c","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":97,"width":2,"height":2,"passthru":false,"label":"<h1>< 4</h1>","tooltip":"","color":"black","bgcolor":"pink","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1860,"wires":[["fa6b06a6.ea8d68"]]},{"id":"160e9e9a.8a0521","type":"inject","z":"7f275101.9dd22","name":"4 - Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":1920,"wires":[["3383895d.9650f6"]]},{"id":"3383895d.9650f6","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1920,"wires":[["e55058a6.738668"]]},{"id":"1b31eec6.014131","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1860,"wires":[["be5d8ab2.de1528","79e522f5.4a521c","2c8caef1.3ccf52","3dee431e.26ce3c","655d801.aa7558","c8a0c6ef.76e718","9832ae1e.d456b","ef6fb54e.bee8f8","e9dbe36b.115fd","d2e2c9a8.da5708","1c465ad9.492105","6327db1e.551e74","e0f8ee3.ce5181","ffe81b25.810878","e402b618.ce6248","1ed0358c.3892aa","d7622876.7c2618"],["be5d8ab2.de1528","79e522f5.4a521c","2c8caef1.3ccf52","3dee431e.26ce3c","655d801.aa7558","c8a0c6ef.76e718","9832ae1e.d456b","ef6fb54e.bee8f8","e9dbe36b.115fd","d2e2c9a8.da5708","1c465ad9.492105","6327db1e.551e74","e0f8ee3.ce5181","ffe81b25.810878","e402b618.ce6248","1ed0358c.3892aa","3383895d.9650f6"]]},{"id":"be5d8ab2.de1528","type":"ui_led","z":"7f275101.9dd22","order":96,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1760,"wires":[]},{"id":"79e522f5.4a521c","type":"ui_led","z":"7f275101.9dd22","order":120,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1860,"wires":[]},{"id":"74a23a41.02a9a4","type":"ui_led","z":"7f275101.9dd22","order":78,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2220,"wires":[]},{"id":"557db02c.cdc9b","type":"ui_led","z":"7f275101.9dd22","order":91,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":150,"y":800,"wires":[]},{"id":"3dee431e.26ce3c","type":"ui_led","z":"7f275101.9dd22","order":94,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1780,"wires":[]},{"id":"655d801.aa7558","type":"ui_led","z":"7f275101.9dd22","order":118,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":1880,"wires":[]},{"id":"9832ae1e.d456b","type":"ui_led","z":"7f275101.9dd22","order":119,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":1900,"wires":[]},{"id":"c8a0c6ef.76e718","type":"ui_led","z":"7f275101.9dd22","order":117,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1880,"wires":[]},{"id":"ef6fb54e.bee8f8","type":"ui_led","z":"7f275101.9dd22","order":116,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1900,"wires":[]},{"id":"e9dbe36b.115fd","type":"ui_led","z":"7f275101.9dd22","order":114,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":1920,"wires":[]},{"id":"d2e2c9a8.da5708","type":"ui_led","z":"7f275101.9dd22","order":115,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1920,"wires":[]},{"id":"1c465ad9.492105","type":"ui_led","z":"7f275101.9dd22","order":113,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":1940,"wires":[]},{"id":"6327db1e.551e74","type":"ui_led","z":"7f275101.9dd22","order":112,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1940,"wires":[]},{"id":"e0f8ee3.ce5181","type":"ui_led","z":"7f275101.9dd22","order":110,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":1860,"wires":[]},{"id":"ffe81b25.810878","type":"ui_led","z":"7f275101.9dd22","order":109,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":1860,"wires":[]},{"id":"e402b618.ce6248","type":"ui_led","z":"7f275101.9dd22","order":111,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":1880,"wires":[]},{"id":"1ed0358c.3892aa","type":"ui_led","z":"7f275101.9dd22","order":108,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":1900,"wires":[]},{"id":"83c304f2.a03108","type":"ui_led","z":"7f275101.9dd22","order":85,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2820,"wires":[]},{"id":"30bc4663.41884a","type":"ui_led","z":"7f275101.9dd22","order":86,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2840,"wires":[]},{"id":"3c9d2908.1ca756","type":"ui_led","z":"7f275101.9dd22","order":38,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1480,"wires":[]},{"id":"1f76c8c2.dbdab7","type":"ui_led","z":"7f275101.9dd22","order":61,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1620,"wires":[]},{"id":"e3fcf871.a3c168","type":"ui_led","z":"7f275101.9dd22","order":39,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1500,"wires":[]},{"id":"7a548e35.6f543","type":"ui_led","z":"7f275101.9dd22","order":62,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1640,"wires":[]},{"id":"56f882fa.ed116c","type":"ui_led","z":"7f275101.9dd22","order":20,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":340,"wires":[]},{"id":"6931f18d.149b4","type":"ui_led","z":"7f275101.9dd22","order":12,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":220,"wires":[]},{"id":"b88eebe4.9ee3b8","type":"ui_led","z":"7f275101.9dd22","order":18,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":520,"wires":[]},{"id":"ef33839.36dd88","type":"ui_led","z":"7f275101.9dd22","order":99,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2240,"wires":[]},{"id":"1a5707aa.193638","type":"inject","z":"7f275101.9dd22","name":"5 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":160,"y":2140,"wires":[["8cf5e1c2.1df41","1024e44.0c3fc1c","8d4b40c8.67c8d","20fb2b5a.43cc84","8144e25a.68794","ff2786bd.3116f8","73ef760a.f381a8"]]},{"id":"2a2e7c4c.df59d4","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":65,"width":2,"height":2,"passthru":false,"label":"<h1>< 5</h1>","tooltip":"","color":"black","bgcolor":"silver","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":2200,"wires":[["8c6cd411.b91fb8"]]},{"id":"52912971.1c8d88","type":"inject","z":"7f275101.9dd22","name":"5 - Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":2260,"wires":[["1760fedb.dbd081"]]},{"id":"9a07f3da.66064","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":2200,"wires":[["574d0b7c.041024","1b1160c6.7c7aff","74a23a41.02a9a4","ef33839.36dd88","aec8da81.216cf8","8cf5e1c2.1df41"],["574d0b7c.041024","1b1160c6.7c7aff","74a23a41.02a9a4","ef33839.36dd88","aec8da81.216cf8","1760fedb.dbd081"]]},{"id":"8cf5e1c2.1df41","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2140,"wires":[["446f7525.9ff76c"]]},{"id":"1760fedb.dbd081","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2260,"wires":[["a558ab6e.a3fda8"]]},{"id":"574d0b7c.041024","type":"ui_led","z":"7f275101.9dd22","order":64,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2140,"wires":[]},{"id":"1b1160c6.7c7aff","type":"ui_led","z":"7f275101.9dd22","order":63,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2160,"wires":[]},{"id":"e77c452c.21d908","type":"ui_led","z":"7f275101.9dd22","order":4,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":130,"y":400,"wires":[]},{"id":"104ae5bb.13851a","type":"ui_led","z":"7f275101.9dd22","order":35,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":560,"wires":[]},{"id":"1024e44.0c3fc1c","type":"ui_led","z":"7f275101.9dd22","order":67,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":110,"y":2000,"wires":[]},{"id":"8d4b40c8.67c8d","type":"ui_led","z":"7f275101.9dd22","order":51,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":150,"y":2020,"wires":[]},{"id":"20fb2b5a.43cc84","type":"ui_led","z":"7f275101.9dd22","order":41,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":190,"y":2040,"wires":[]},{"id":"8144e25a.68794","type":"ui_led","z":"7f275101.9dd22","order":31,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":230,"y":2060,"wires":[]},{"id":"ff2786bd.3116f8","type":"ui_led","z":"7f275101.9dd22","order":16,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":270,"y":2080,"wires":[]},{"id":"1fe8924.658126e","type":"ui_led","z":"7f275101.9dd22","order":26,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1520,"wires":[]},{"id":"c0401784.ff7628","type":"inject","z":"7f275101.9dd22","name":"6 - STR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":160,"y":2460,"wires":[["d4fd8e79.12eff"]]},{"id":"28c6432a.65633c","type":"inject","z":"7f275101.9dd22","name":"6 - Turnout","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":2580,"wires":[["7bd8d4d5.eaf47c"]]},{"id":"65e77639.117f28","type":"ui_led","z":"7f275101.9dd22","order":27,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1540,"wires":[]},{"id":"1ae68854.086808","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":12,"width":2,"height":2,"passthru":false,"label":"<h1>6 ></h1>","tooltip":"","color":"black","bgcolor":"violet","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":2520,"wires":[["8d6e32c3.7d4f6"]]},{"id":"79d9529b.a3d42c","type":"ui_led","z":"7f275101.9dd22","order":105,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":990,"y":2920,"wires":[]},{"id":"88bdf56f.a7ae38","type":"ui_led","z":"7f275101.9dd22","order":83,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":370,"y":2820,"wires":[]},{"id":"148aa46e.8391ec","type":"ui_led","z":"7f275101.9dd22","order":4,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":880,"wires":[]},{"id":"5d6b6daa.cb0d04","type":"ui_led","z":"7f275101.9dd22","order":5,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":900,"wires":[]},{"id":"3bef3ae4.e1c046","type":"ui_led","z":"7f275101.9dd22","order":59,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":1200,"wires":[]},{"id":"aec8da81.216cf8","type":"ui_led","z":"7f275101.9dd22","order":98,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2260,"wires":[]},{"id":"73ef760a.f381a8","type":"ui_led","z":"7f275101.9dd22","order":66,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":310,"y":2100,"wires":[]},{"id":"5ed8d24.583a52c","type":"ui_led","z":"7f275101.9dd22","order":20,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":620,"wires":[]},{"id":"321c740f.e26d7c","type":"ui_led","z":"7f275101.9dd22","order":21,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":620,"wires":[]},{"id":"99adcd5d.1eb13","type":"ui_led","z":"7f275101.9dd22","order":22,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":660,"wires":[]},{"id":"30db5537.a497da","type":"ui_led","z":"7f275101.9dd22","order":23,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":640,"wires":[]},{"id":"3c87872c.a61058","type":"ui_led","z":"7f275101.9dd22","order":24,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":680,"wires":[]},{"id":"d9c259ab.6358c8","type":"ui_led","z":"7f275101.9dd22","order":25,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":660,"wires":[]},{"id":"ca27e45e.fa68a8","type":"ui_led","z":"7f275101.9dd22","order":26,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":700,"wires":[]},{"id":"176f8009.fcf8f","type":"ui_led","z":"7f275101.9dd22","order":27,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":680,"wires":[]},{"id":"5c13fb03.5bcfe4","type":"ui_led","z":"7f275101.9dd22","order":28,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":620,"wires":[]},{"id":"1f144ca9.b10fc3","type":"ui_led","z":"7f275101.9dd22","order":29,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":700,"wires":[]},{"id":"acf6f7e0.35cce8","type":"ui_led","z":"7f275101.9dd22","order":30,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":640,"wires":[]},{"id":"8ad9c483.4e3fa8","type":"ui_led","z":"7f275101.9dd22","order":31,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":660,"wires":[]},{"id":"f9385407.80e198","type":"ui_led","z":"7f275101.9dd22","order":34,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":640,"wires":[]},{"id":"cb07a356.a11eb","type":"ui_led","z":"7f275101.9dd22","order":8,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":900,"wires":[]},{"id":"25fce8e7.ef1988","type":"ui_led","z":"7f275101.9dd22","order":24,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":920,"wires":[]},{"id":"b84348ad.b8a588","type":"ui_led","z":"7f275101.9dd22","order":6,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":920,"wires":[]},{"id":"9290161e.cd6128","type":"ui_led","z":"7f275101.9dd22","order":7,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":840,"wires":[]},{"id":"17673a7c.517bc6","type":"ui_led","z":"7f275101.9dd22","order":136,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":860,"wires":[]},{"id":"9492e623.367e88","type":"ui_led","z":"7f275101.9dd22","order":9,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":880,"wires":[]},{"id":"75a699ed.306238","type":"ui_led","z":"7f275101.9dd22","order":10,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":900,"wires":[]},{"id":"92a202e7.99795","type":"ui_led","z":"7f275101.9dd22","order":128,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":950,"y":920,"wires":[]},{"id":"d7658a60.eb6008","type":"ui_led","z":"7f275101.9dd22","order":133,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1070,"y":840,"wires":[]},{"id":"46b5e007.9ddec","type":"ui_led","z":"7f275101.9dd22","order":134,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1070,"y":860,"wires":[]},{"id":"607691e3.ecf06","type":"ui_led","z":"7f275101.9dd22","order":135,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1070,"y":880,"wires":[]},{"id":"63beae8b.97d97","type":"ui_led","z":"7f275101.9dd22","order":137,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1070,"y":900,"wires":[]},{"id":"bc8360e5.07e94","type":"ui_led","z":"7f275101.9dd22","order":130,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1070,"y":920,"wires":[]},{"id":"d0b966b6.458b88","type":"ui_led","z":"7f275101.9dd22","order":125,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1190,"y":840,"wires":[]},{"id":"537e167f.34cde8","type":"ui_led","z":"7f275101.9dd22","order":122,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1190,"y":860,"wires":[]},{"id":"be6e387b.93a448","type":"ui_led","z":"7f275101.9dd22","order":101,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1190,"y":880,"wires":[]},{"id":"d6d01877.a9b188","type":"ui_led","z":"7f275101.9dd22","order":80,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1190,"y":900,"wires":[]},{"id":"d9d78762.f94e78","type":"ui_led","z":"7f275101.9dd22","order":68,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1190,"y":920,"wires":[]},{"id":"dcb413a7.8a61f","type":"ui_led","z":"7f275101.9dd22","order":52,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1310,"y":840,"wires":[]},{"id":"75671ce0.93ae24","type":"ui_led","z":"7f275101.9dd22","order":42,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1310,"y":860,"wires":[]},{"id":"c8439a07.380fa8","type":"function","z":"7f275101.9dd22","name":"Reverse Loop Tracker","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    \n    case \"POINT7\":\n        if(msg.payload==true) {\n            context.data.track7 = msg.topic;\n            msg = null;\n        }\n        else {\n            context.data.track7 = false;\n            msg = null;\n        }\n        break;\n        \n    case \"POINT1\":\n        if(msg.payload==true) {\n            context.data.track1 = msg.topic;\n            msg = null;\n        }\n        else {\n            context.data.track1 = false;\n            msg = null;\n        }\n        break;\n}\n\nif(( context.data.track1 != null &&\n     context.data.track1 != false )\n     &&\n     ( context.data.track7 != null &&\n       context.data.track7 != false))\n        {\n        \tmsg = {};\n            msg.payload = \"REVERSE LOOP\";\n        \treturn msg;\n        } \n\nelse\n    {\n    \tmsg = {};\n        msg.payload = \" \";\n    \treturn msg;\n        } \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[["d80207e4.40d268"]]},{"id":"d80207e4.40d268","type":"ui_text","z":"7f275101.9dd22","group":"9993820d.5fb76","order":22,"width":5,"height":2,"name":"","label":"","format":"<font size = 6>{{msg.payload}}","layout":"col-center","className":"","x":610,"y":760,"wires":[]},{"id":"d4a9307c.2e68","type":"inject","z":"7f275101.9dd22","name":"Clear Display","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":400,"y":780,"wires":[["d80207e4.40d268"]]},{"id":"1d5ce7be.e67d58","type":"comment","z":"7f275101.9dd22","name":"static (on green) leds","info":"","x":120,"y":20,"wires":[]},{"id":"fcaafc8f.f1cdb","type":"comment","z":"7f275101.9dd22","name":"dynamic display leds","info":"","x":750,"y":40,"wires":[]},{"id":"738ec7af.fe2688","type":"comment","z":"7f275101.9dd22","name":"flash for when in reverse-loop mode","info":"","x":220,"y":700,"wires":[]},{"id":"9bc7f88d.e5de28","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":540,"y":1740,"wires":[]},{"id":"e55058a6.738668","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":540,"y":1980,"wires":[]},{"id":"d4fd8e79.12eff","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2460,"wires":[["616b0c10.059e84"]]},{"id":"7bd8d4d5.eaf47c","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2580,"wires":[["9a6aa9a.2d00158"]]},{"id":"817f4af9.274948","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"22","set":"","level":"0","freq":"","out":"out","x":540,"y":1440,"wires":[]},{"id":"99930219.1507e","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"18","set":"","level":"0","freq":"","out":"out","x":540,"y":1680,"wires":[]},{"id":"97232908.eebf78","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":540,"y":1100,"wires":[]},{"id":"3833393d.bcd236","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":540,"y":1340,"wires":[]},{"id":"616b0c10.059e84","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":540,"y":2400,"wires":[]},{"id":"9a6aa9a.2d00158","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"16","set":"","level":"0","freq":"","out":"out","x":540,"y":2640,"wires":[]},{"id":"22aa7735.c63758","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":2520,"wires":[["2a7a656e.fa432a","d3907ef6.9fe92","432a996b.b55058","30862707.cad238","d4fd8e79.12eff"],["2a7a656e.fa432a","d3907ef6.9fe92","432a996b.b55058","30862707.cad238","7bd8d4d5.eaf47c"]]},{"id":"2a7a656e.fa432a","type":"ui_led","z":"7f275101.9dd22","order":13,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":710,"y":2460,"wires":[]},{"id":"d3907ef6.9fe92","type":"ui_led","z":"7f275101.9dd22","order":14,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":710,"y":2480,"wires":[]},{"id":"432a996b.b55058","type":"ui_led","z":"7f275101.9dd22","order":28,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":710,"y":2580,"wires":[]},{"id":"30862707.cad238","type":"ui_led","z":"7f275101.9dd22","order":29,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":710,"y":2600,"wires":[]},{"id":"db7b1232.42d4","type":"ui_led","z":"7f275101.9dd22","order":11,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":140,"wires":[]},{"id":"85f564d6.59d0b8","type":"ui_led","z":"7f275101.9dd22","order":21,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":160,"wires":[]},{"id":"29fc176a.271928","type":"ui_led","z":"7f275101.9dd22","order":17,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":150,"y":60,"wires":[]},{"id":"69fbcd0.eb8a334","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":330,"y":2880,"wires":[["83acd9d3.c37948"]]},{"id":"adcf8c3c.3b0a3","type":"ui_button","z":"7f275101.9dd22","name":"","group":"9993820d.5fb76","order":84,"width":2,"height":2,"passthru":false,"label":"<h1>9 ></h1>","tooltip":"","color":"black","bgcolor":"white","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":2880,"wires":[["69fbcd0.eb8a334"]]},{"id":"bec10e7d.6e4c","type":"inject","z":"7f275101.9dd22","name":"9 - MULTI","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":140,"y":2840,"wires":[["69fbcd0.eb8a334","ea7b1e30.491ac","88bdf56f.a7ae38","10b621cd.6160fe","13124bc1.5535f4","c894be9b.3f3a3","c8ca9746.6be968","7c758670.911c68","17a57ec7.5ebf61"]]},{"id":"83acd9d3.c37948","type":"switch","z":"7f275101.9dd22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":2880,"wires":[["83c304f2.a03108","30bc4663.41884a","12176d40.600733","b0be8a6a.a39c08","bd84dc73.baa2e","79d9529b.a3d42c","fa12fcd2.b42a9","38fdfb27.95bc44","4126ac72.faa9f4","739e7711.b40658","8a62636d.5f3d7","36380038.2899","277dce27.afafb2","8c5f3cd3.406d3","7181a1b5.d48c4","da1b524f.b1486","18726656.7cd68a"],["83c304f2.a03108","30bc4663.41884a","b4442e08.cea9c","b0be8a6a.a39c08","bd84dc73.baa2e","79d9529b.a3d42c","fa12fcd2.b42a9","38fdfb27.95bc44","4126ac72.faa9f4","739e7711.b40658","36380038.2899","8a62636d.5f3d7","277dce27.afafb2","8c5f3cd3.406d3","7181a1b5.d48c4","18726656.7cd68a","da1b524f.b1486"]]},{"id":"12176d40.600733","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2820,"wires":[["924b4f55.f2be7"]]},{"id":"924b4f55.f2be7","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"8","set":"","level":"0","freq":"","out":"out","x":570,"y":2740,"wires":[]},{"id":"b4442e08.cea9c","type":"function","z":"7f275101.9dd22","name":"Tick-Tock","func":"node.send({\"payload\": 1});\nsetTimeout(function() \n        {node.send({\"payload\": 0});}\n            ,0100);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":2960,"wires":[["9f169055.e8f73"]]},{"id":"9f169055.e8f73","type":"rpi-gpio out","z":"7f275101.9dd22","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":560,"y":3020,"wires":[]},{"id":"2bbed2b0.c80b5e","type":"inject","z":"7f275101.9dd22","name":"9 - MULTI","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.15","topic":"","payload":"true","payloadType":"bool","x":140,"y":2920,"wires":[["69fbcd0.eb8a334"]]},{"id":"d58bc1b9.f1af8","type":"ui_led","z":"7f275101.9dd22","order":2,"group":"da71df26.838f6","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":110,"y":760,"wires":[]},{"id":"b0be8a6a.a39c08","type":"ui_led","z":"7f275101.9dd22","order":106,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":990,"y":2900,"wires":[]},{"id":"bd84dc73.baa2e","type":"ui_led","z":"7f275101.9dd22","order":107,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":990,"y":2940,"wires":[]},{"id":"15ee61ce.513b6e","type":"ui_led","z":"7f275101.9dd22","order":32,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1310,"y":860,"wires":[]},{"id":"5c3f401.91852c","type":"ui_led","z":"7f275101.9dd22","order":17,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#87ceeb","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":1310,"y":880,"wires":[]},{"id":"755066e8.908358","type":"comment","z":"7f275101.9dd22","name":"tick-tock pulls up RPI pin from 0 to 3.3V for 0.1s","info":"","x":420,"y":40,"wires":[]},{"id":"277dce27.afafb2","type":"ui_led","z":"7f275101.9dd22","order":53,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":850,"y":2900,"wires":[]},{"id":"8c5f3cd3.406d3","type":"ui_led","z":"7f275101.9dd22","order":43,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":850,"y":2920,"wires":[]},{"id":"7181a1b5.d48c4","type":"ui_led","z":"7f275101.9dd22","order":33,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":850,"y":2940,"wires":[]},{"id":"da1b524f.b1486","type":"ui_led","z":"7f275101.9dd22","order":1,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":850,"y":2960,"wires":[]},{"id":"38fdfb27.95bc44","type":"ui_led","z":"7f275101.9dd22","order":104,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2980,"wires":[]},{"id":"36380038.2899","type":"ui_led","z":"7f275101.9dd22","order":69,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2960,"wires":[]},{"id":"8a62636d.5f3d7","type":"ui_led","z":"7f275101.9dd22","order":103,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2940,"wires":[]},{"id":"739e7711.b40658","type":"ui_led","z":"7f275101.9dd22","order":102,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2920,"wires":[]},{"id":"4126ac72.faa9f4","type":"ui_led","z":"7f275101.9dd22","order":81,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2900,"wires":[]},{"id":"18726656.7cd68a","type":"ui_led","z":"7f275101.9dd22","order":18,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":850,"y":2980,"wires":[]},{"id":"73e576a4.6c2738","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":220,"wires":[["7a685770.dd7498"]]},{"id":"1a726309.8daffd","type":"ui_led","z":"7f275101.9dd22","order":23,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#00ff00","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":360,"wires":[]},{"id":"dd50bb9e.3a5d08","type":"ui_led","z":"7f275101.9dd22","order":24,"group":"5e172ab9.6b0c84","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":830,"y":180,"wires":[]},{"id":"ff3bcd24.8e311","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":540,"wires":[["c8439a07.380fa8","d543bd52.f7286"]]},{"id":"d701ebf4.d68c68","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"false","payloadPropName":"payload","x":310,"y":920,"wires":[["8fce9bac.1d25d8","c8439a07.380fa8"]]},{"id":"dfa9a584.82e4e8","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":1220,"wires":[["52535560.14664c"]]},{"id":"eb4d0d0f.6c301","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":1560,"wires":[["e56d8ad8.42bd88"]]},{"id":"fa6b06a6.ea8d68","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":1860,"wires":[["1b31eec6.014131"]]},{"id":"8c6cd411.b91fb8","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":2200,"wires":[["9a07f3da.66064"]]},{"id":"8d6e32c3.7d4f6","type":"toggleUltimate","z":"7f275101.9dd22","name":"Toggle","valueToToggle":"true","payloadPropName":"payload","x":310,"y":2520,"wires":[["22aa7735.c63758"]]},{"id":"fa12fcd2.b42a9","type":"ui_led","z":"7f275101.9dd22","order":87,"group":"9993820d.5fb76","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#00ff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":710,"y":2860,"wires":[]}]